---
import '../styles/style.css'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { getLangFromUrl } from '../i18n/utils';
import ViewTransitions from 'astro/components/ViewTransitions.astro';

const lang = getLangFromUrl(Astro.url);
const canonicalUrl = new URL(Astro.url.pathname, Astro.url);
const { title, description, image } = Astro.props;
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="color-scheme" content="dark light" />
    <link rel="canonical" href={canonicalUrl} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@cevdetardaharan" />
    <meta name="twitter:creator" content="@cevdetardaharan" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:site_name" content="Philosophia.app" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content={image} />
    <meta property="og:image:alt" content={title} />
    <ViewTransitions />
  </head>
  <body>
    <Header />
    <main transition:animate="slide">
      <slot />
    </main>
  </body>
  <Footer />
</html>
